body {
  background: hsl(220, 15%, 55%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  text-align: center;
}

.container {
  background-color: white;
  display: flex;
  width: 80%;
  max-width: 375px;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 1px 0px 20px 2px rgb(0, 0, 0.1);
  flex-direction: column;
}

img {
  width: 100%;
  max-height: 345px;
  border-radius: 20px;
}

.qr-code {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.text-box {
  margin: 0px 15px 10px 15px;
}

p {
  color: grey;
}
